table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	margin-top: 1%;
	margin-left: 15%;
}

th, td {
	padding: 10px;
}

th {
	background-color: rgb(74, 223, 166);
	font-size: x-large;
}

td {
	font-size: x-large;
}

tr:nth-child(even) {
	background-color: rgb(248, 242, 248);
}

tr:nth-child(odd) {
	background-color: rgba(166, 182, 182, 0.418);
}

header {
	margin-top: 2%;
	padding-left: 45%;
	font-size: xx-large;
	font-weight: bolder;
}

.styled {
	width: 100px;
	height: 40px;
	border: 0;
	line-height: 2.5;
	padding: 0 20px;
	font-size: large;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 5px;
	background-color: rgb(218, 30, 177);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(221, 90, 221, 0.6), inset -2px -2px
		3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
	background-color: rgb(67, 148, 214);
}

.styled:active {
	box-shadow: inset -2px -2px 3px rgba(180, 11, 76, 0.6), inset 2px 2px
		3px rgba(0, 0, 0, 0.6);
}